/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/* Defines a variable when adding the --notation */

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  background-color: #1f1f1f;
  width: 80vw;
  margin: auto;
  color: white;
}

h1 {
  font-size: 30px;
  font-weight: 700;
}

h2 {
  font-size: 24px;
  font-weight: 700;
}

h3 {
  font-size: 18px;
  font-weight: 700;
}

.standard-label {
  font-weight: 700;
}

.navbar-brand {
  font-size: 30px;
}

.nav-link {
  outline: none;
}

#sendMessage {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

/* Custom form submit button */
#msg-submit {
  cursor: pointer;
  background-color: #343a40;
  color: white;
  border-radius: 5px;
}
.button {
  cursor: pointer;
  background-color: #666;
  color: white;
  border-radius: 5px;
}

.social-icon {
  max-width: 50px;
  margin-bottom: 30px;
  margin: -3px;
}

/* Allows faded icon on hover */
.social-icon:hover {
  opacity: 0.6;
}

/* Stylizes profile portrait */
.profile__portrait {
  float: left;
  width: 250px;
  margin-right: 40px;
  border-radius: 50%;
}

.profile-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 20vh;
}

.profile-title {
  text-align: center;
  margin-bottom: 20px;
}

.page-footer {
  /* Clears footer from flex image */
  clear: both;
  /* Makes icons more flexible and moves them as 1 */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* Change direction to top-to-bottom */
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  /* Makes icons align center of page */
  text-align: center;
  padding-bottom: 50px;
  margin-top: 15px;
}

.profile {
  min-width: 780px;
  margin: 0 auto;
}

/* Tells the browser to account for any border and padding in the values you specify for an element's width and height */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Allows nav bar to cover full width of page */
.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  left: 0px;
  padding: 0px 5%;
  width: 100vw;
  position: fixed;
  background-color: #1f1f1f;
  border-bottom: 2px solid rgba(255, 255, 255, 0.281);
  z-index: 99;
  font-weight: 700;
}

/* Sets header to be a flex item that has a limit of 200 px(won't grow) */
.page-header__item {
  -webkit-box-flex: 0;
}

/* Overwrites the flex for the navigation bar so that it can grow while the icon can stay the same. */
.page-header__item:last-child {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  text-align: right;
}

/* Grid fallback for legacy browsers */
.grid__item {
  display: inline-block;
  width: 33%;
}

/* Uses CSS grid to organize works into grid layout, only need to define columns b/c rows will be automatic */
.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  grid-gap: 20px;
}

.grid__item {
  background-color: #808080;
  padding: 10px;
  /* Set width to auto to tak width of grid container */
  width: auto;
  padding-bottom: 20px;
}

.about,
.contact,
.work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 750px;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 auto;
}

.about {
  padding-top: 10vh;
}

.contact-div {
  padding-top: 5vh;
}

.work-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 15px;
}

#gform {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

label {
  text-align: left;
}

.form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin-top: 50px;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  background-color: #d7d8d7;
  padding: 30px;
  border-radius: 15px;
  color: black;
}

.contact-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.form-control:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.form-control,
.form-control:focus-within,
.form-control:active {
  background-color: transparent;
  border-radius: 0;
  border-bottom: 1px solid black;
}

.skills-item {
  width: 100px;
  margin: 10px 10px;
}

.skills-item__js {
  width: 123px;
  margin: 0;
}

.card {
  min-width: 16rem;
  height: 100%;
}

.work-container {
  display: flex;
  flex-direction: column;
  padding-top: 6vh;
  margin: 0;
}

@media all and (min-width: 1200px) {
  body {
    width: 70%;
  }
  .skills__item {
    width: 30vw;
  }
}

/* Allows grid to be resized for small devices */
@media all and (max-width: 800px) {
  .grid {
    /* Changes grid to 1 column */
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .profile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    min-width: initial;
  }
  .profile__portrait {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .cv-link {
    margin-top: 20px;
  }
  .skills__item {
    width: 70vw;
  }
  .contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .contact > div {
    width: 100;
  }
  .contact-details {
    width: 60vw;
  }
  #gform {
    margin-top: 20px;
    width: 60vw;
  }
}

/* Allows grid to shrink fluidly as screen size gets smaller */
@media all and (min-width: 780px) and (max-width: 1200px) {
  .grid {
    -ms-grid-columns: 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr;
  }
  .skills__item {
    width: 50vw;
  }
}

/* Combine the commons into one single group */
@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }
  h1 {
    font-size: 22px;
  }
  body {
    width: 90%;
  }
  .skills-item {
    width: 50px;
    margin: 5px 5px;
  }

  .skills-item__js {
    width: 63px;
    margin: 0;
  }
}

@media all and (max-width: 992px) {
  .card {
    min-width: 16rem;
  }
}

/* Implement a transition of a button */
.button {
  /* Overwrites browser defaults and resets border */
  border: none;
  margin-bottom: 20px;
  display: inline-block;
  /* Takes font from outside */
  font-family: inherit;
  /* STYLE */
  background-color: black;
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  /* width of the border, type color */
  border-bottom: 2px solid black;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-property: width, opacity;
  -o-transition-property: width, opacity;
  transition-property: width, opacity;
}

.button:hover {
  /* convert mouse to pointer finger */
  cursor: pointer;
  /* change opacity to 80% */
  width: 160px;
  opacity: 0.6;
}

/* Alternative/cleaner method for combining transition lines. */
.button {
  /* overwrites browser defaults and resets the border */
  border: none;
  display: inline-block;
  /* takes the font from the outer container */
  font-family: inherit;
  /* style button */
  background-color: black;
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  /* width of the border, type, color */
  border-bottom: 2px solid black;
  -webkit-transition: 0.2s opacity;
  -o-transition: 0.2s opacity;
  transition: 0.2s opacity;
}

.button:visited {
  color: white;
  width: auto;
}

.card-img-top {
  -webkit-transition: -webkit-transform 0.25s ease;
  transition: -webkit-transform 0.25s ease;
  -o-transition: transform 0.25s ease;
  transition: transform 0.25s ease;
  transition: transform 0.25s ease, -webkit-transform 0.25s ease;
}

.card-img-top:hover {
  -webkit-transform: scale(1.25);
  -ms-transform: scale(1.25);
  transform: scale(1.25);
  z-index: 999;
  -ms-grid-row-align: center;
  -ms-grid-column-align: center;
  place-self: center;
}

card-img-link {
  z-index: 9999;
}

.navigation-list__item {
  -webkit-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-property: opacity, color, background-color, font-size;
  -o-transition-property: opacity, color, background-color, font-size;
  transition-property: opacity, color, background-color, font-size;
}

.navigation-list__item:hover {
  opacity: 0.5;
  color: white;
  background-color: #808080;
  padding-left: 5px;
  padding-right: 5px;
}

.navbar-collapse {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

#webdev {
  background-color: #d8d9d8;
  color: #1f1f1f;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 3px;
  border-radius: 25%;
  font-weight: 700;
}

.grid-link {
  display: -ms-grid;
  display: grid;
  background-color: rgba(22, 22, 22, 0.795);
  padding: 10px;
  color: white;
  border-radius: 10px;
  margin-bottom: 10px;
}

.grid-link:hover {
  background-color: rgba(22, 22, 22, 0.644);
}

.grid-link:visited {
  /* Visited Link */
  color: #9c9c9c;
}

.call-to-action {
  font-weight: 700;
  font-size: 24px;
}

.work {
  margin-top: 20px;
  margin-bottom: 20px;
}

#kirby-couple {
  margin-bottom: 20px;
}

.skills {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  padding: 0;
}

.about-text {
  text-align: start;
}

.carousel {
  float: left;
  margin-top: 15px;
  margin-bottom: 15px;
}

.work-container-temp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0px 0px 50px 0px;
}

.work-temp-indicator {
  position: relative;
}

.work-temp-nav__right,
.work-temp-nav__left {
  position: absolute;
  top: 0;
}

.work-temp-nav__right {
  right: 10%;
}

.work-temp-nav__left {
  left: 10%;
}

.car-button {
  bottom: 100%;
}
.example {
  display: -ms-grid;
  display: grid;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(black));
  background: -o-linear-gradient(top, white, black);
  background: linear-gradient(to bottom, white, black);
}
